/node_modules
/vendor
/.git
/.github
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php
/.env
/.env.*
/public/storage
